
<html>
<h1>Answers & Questions</h1>

<div class="question-banner">
<p>Here's your question...</p>
> <%= @question %>
</div>

<div class="answer-banner">
<p>...And here's the answer</p>
> <%= @answer %>
</div>

<p><%= link_to "Another question?", ask_path %></p>

</html>
