

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Ask your coach a question!</h1>
<p></p>
<p></p>
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
